* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header, .header-nav a, button, .description, footer, .popup-text {
    color: white;
}

header { /* Contains heaer, header-nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: #1F2937;
}

.header-nav {
    display: flex;
    gap: 16px;
}

header img { /* Header Logo */
    width: 80px;
    height: 80px;
    padding: 0px;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
}

.description { /* Contains description of website and image */
    display: flex;
    background-color: #1F2937;
    padding: 90px;
    gap: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.text { /* text in description */
    display: flex;
    flex: 1;
    gap: 8px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
}

.text p { /* Paragraph in text */
    opacity: 0.75;
}

button { /* button in text */
    width: 110px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 0px;
}

.image { /* image in description */
    display: flex;
    max-width: 500px;
    flex: 1;
}

.image img { /* img in image container  */
    flex: 1;
    max-height: 350px;
    max-width: 500px;
}

.random { /* random information */
    display: flex;
    align-items: center;
    padding: 30px 15px;
    flex-direction: column;
    gap: 20px;
}

.container {  /* container for items in random */
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

li img { /* images in list */
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
li { /* list */
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    list-style: none;
}

.quote { /* quote section */
    display: flex;
    background-color: #E5E7EB;
    padding: 75px;
    justify-content: center;
}

.quote_content { /* quote text */
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.quote_content > p:first-child { /* first child (quote) */
    opacity: 0.75;
    font-size: 30px;
}

.quote_content > p:nth-child(2) { /* second child (quote author) */
    margin: 20px;
    font-size: 20px;
    align-self: flex-end;
}

.notification { /* notification */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup { /* popup in notification section */
    display: flex;
    flex: 1;
    margin: 60px;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
    min-height: 125px;
    background-color: #3882F6;
    border-radius: 8px;
}

.popup-button { /* popup button */
    border: 1px solid white;
    margin: 5px;
}

footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
}